BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_PORT=8088
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=hltg_accounting
DB_PASSWORD=kyWCXpNTca2Nce7t
DB_NAME=hltg_accounting
JWT_SECRET_KEY=change-me-in-production
APP_DEBUG=false